<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/home.js"></script>
    <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


    </style>
</head>
<body>
<table>

</table>
<h1>Add New Book</h1>
<form name="addBook" method="POST" enctype="multipart/form-data" action="/" onsubmit="return validateForm()">
    <label>Book Title:</label>
    <input type="text" name="title" /><br>
    <div id="add_book_submit_msg"></div>
    <label>Cover Image:</label>
    <input type="file" name="img" accept="image/*" /><br>
    <label>Choose Storage Type:</label>
    <select name="storage_type">
        <option value="local">local</option>
        <option value="db">db</option>
        <option value="azure">azure</option>
    </select><br>
    <input type="submit" value="Add" />
</form>
<h1>Books Table</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Cover</th>
        <th>Update Book</th>
        <th>Storage Type</th>
        <th>Delete</th>
    </tr>
    {% for book in books %}
    <tr>
        <td><strong>{{book.title}}</strong></td>
        <td>
            {% if book.storage_type !='azure' %}
            <img src="{{url_for('get_book_image_url', book_title=book.title, last_img_update_timestamp=book.last_img_update_timestamp if book.last_img_update_timestamp else 'empty')}}"
                 height="66" width="66">
            {% else %}
            <img src="{{azure_storage.read('{}-{}'.format(book.title, book.last_img_update_timestamp))}}" height="66"
                 width="66">
            {% endif %}
        </td>
        <td>
            <form method="POST" enctype=multipart/form-data action="./update" style="display: inline">
                <input type="hidden" value="{{book.title}}" name="oldtitle" />
                <input type="text" value="{{book.title}}" name="newtitle" />
                <input type="file" value="{{book.img}}" name="img" accept="image/*" />
                <input type="submit" value="Update">
            </form>
        </td>
        <td><strong>{{book.storage_type}}</strong></td>
        <td>
            <form method="POST" action="./delete" style="display: inline">
                <input type="hidden" value="{{book.title}}" name="title" />
                <input type="submit" value="Delete" />
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>