<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<table>

</table>
<h1>Add New Book</h1>
<table>
    <tr>
    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="text" name="title">
        <input type="file" name="img" accept="image/*">
        <select name="storage_type">
            <option value="local">local</option>
            <option value="db">db</option>
            <option value="cloud">cloud</option>
        </select>
        <input type="submit" value="Add">
    </form>
    <tr>
</table>
<h1>Books Table</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Cover</th>
        <th>Update Book</th>
        <th>Storage Type</th>
        <th>Delete</th>
    </tr>
    {% for book in books %}
    <tr>
        <td> <strong>{{book.title}}</strong></td>
        <td>
            <img src="{{url_for('get_book_image_url', book_title=book.title, last_img_update_timestamp=book.last_img_update_timestamp)}}" height="66" width="66">
        </td>
        <td>
            <form method="POST" enctype=multipart/form-data action="./update" style="display: inline">
                <input type="hidden" value="{{book.title}}" name="oldtitle">
                <input type="text" value="{{book.title}}" name="newtitle">
                <input type="file" value="{{book.img}}" name="img" accept="image/*">
                <input type="submit" value="Update">
            </form>
        </td>
        <td><strong>{{book.storage_type}}</strong></td>
        <td>
            <form method="POST" action="./delete" style="display: inline">
                <input type="hidden" value="{{book.title}}" name="title">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<script>
function getTimestamp() {
    var d = new Date();
    return d.getTime();
}
</script>

</body>
</html>